<h1> 100 python easy questions </h1>

### 1. swap the values of two variable

In [5]:
a =5
b = 6
print("a", a , "b", b)
# lets swaps

a,b=b,a
 
print("a", a , "b", b)

a 5 b 6
a 6 b 5

#### 2. Print sum of two numbers

In [7]:
print(a+b)

11

#### 3.  convert a string into integer and float

In [8]:
c = "8"
print(type(c), c)
a = int(c)
print(type(a),a)
b = float(c)
print(type(b),b)

<class 'str'> 8
<class 'int'> 8
<class 'float'> 8.0

In [12]:
#find the lenght of sting 

a = " this is string we gonna find the length of this string"
print(len(a), a[3:20], a[::-1])

55 is is string we g gnirts siht fo htgnel eht dnif annog ew gnirts si siht

##### 4. check number is postive or negative

In [13]:
num = 4 

if num >= 0:
    print(num, " this number is positive")
else:
    print(num, " this number is negative ")

4  this number is positive

##### 5. check this number is even ot odd

In [18]:
num = 56

if  num%2==0 :
    print(num, " this number is even")
else: 
    print(num, " this number is odd ")

56  this number is even

##### 6.  finds the largest of three  numbers

In [32]:
a = 60 
b = 55 
c = 70

if a <b and a<c :
    print("a is greater number")
elif b>a and b> c:
    print("b is greater number")
else:
    print("c is greater number ")

c is greater number

In [48]:
class FIND_MAX:
    
    def __init__(self):
        self.num1= a
        self.num2=b
        self.num3= c
        
    def find_max(self,a,b,c):
        if a >b and a>c :
           print("a is greater number")
        elif b>a and b> c:
           print("b is greater number")
        else:
           print("c is greater number ")

        
    
s1= FIND_MAX()

s1.find_max( 90, 80 ,4)

a is greater number

##### check if the year is leaf or not

In [55]:
year = 2024

if year %4==0:
    print("this year is leap year")
else:
    print("this year is Normal year")

this year is leap year

In [59]:
class LEAF_year:
    
    def __init__(self):
        
        self.year=year
        
    def leap_year(self, year):
        if year % 4== 0:
            print(year,"this  year is leap year")
        else: 
            print(year, " this year is Normal year")

s1=LEAF_year()

s1.leap_year(2024)

2024 this  year is leap year

##### check the character Vowel or Consontant

##### looop  quetions

In [62]:
for i in range (1,11):
    print(i , end=' ')

1 2 3 4 5 6 7 8 9 10

In [91]:
#even numbers 
for i in range(0, 31, 2):
    print(i, end=' ')
    
n = 30 
print()
print("even number is ")
for i in range (n):
    if i%2==0:
        print(i,end=' ')
print()
print("odd number is")
for i in range(n):
    if i%2 !=0:
        print(i , end=' ')

0 2 4 6 8 10 12 14 16 18 20 22 24 26 28 30
even number is
0 2 4 6 8 10 12 14 16 18 20 22 24 26 28
odd number is
1 3 5 7 9 11 13 15 17 19 21 23 25 27 29

In [93]:
# multiplication table of the number 

n = 5

for i in range (1,11):
    p = i * n 
    print(p, end= ' ')

5 10 15 20 25 30 35 40 45 50

#### 10.additon of natural numbers

In [126]:
# addtion of  natural number 

n = 20
i = 1
while n>=0:
   
    i=n +i
    n= n-1
print(i)

211

In [170]:
n = 5

j = 1

for i in range (1, n + 1):
    j = j *i
    print(j)

1
2
6
24
120

In [172]:
def factorial(n):
    if n == 0 or n ==1:
        return 1
    print(n)
    return n * factorial(n-1)
    
factorial(5)

5
4
3
2

120

In [177]:
n = 5

j = 1

for i in range (1, n + 1):
    j = j +i
    print(j)

2
4
7
11
16

In [179]:
# Step 1: Initialize the first two Fibonacci numbers
fib1 = 0
fib2 = 1

# Step 2: Print the first two Fibonacci numbers
print("f1",fib1)
print("f2",fib2)

# Step 3: Use a loop to calculate and print the next 8 Fibonacci numbers
for _ in range(8):
    # Calculate the next Fibonacci number
    next_fib = fib1 + fib2
    # Print the next Fibonacci number
    print("nextfib",next_fib)
    # Update fib1 and fib2 for the next iteration
    fib1 = fib2
    fib2 = next_fib

f1 0
f2 1
nextfib 1
nextfib 2
nextfib 3
nextfib 5
nextfib 8
nextfib 13
nextfib 21
nextfib 34

In [186]:
#opearation on list 

a = [ 1,2,5,6,56, 78, 89, 32]

max(a)

j = a[0]

for i in range(a[i]):
    print(a[i])

IndexError: list index out of range