In [1]:
# 1.print the hello world in console 
print("lets start it ")

lets start it

In [2]:
# 2.Create variable and print its value 
a = " hello guys i m doing lots of thing today"
print(a)

 hello guys i m doing lots of thing today

In [3]:
#3. Swap the value of two varibles 
a = 5 
b= 6
print("value of a :",a,"value of b:" ,b)
a,b=b,a
print("value of a :",a,"value of b:" ,b)

value of a : 5 value of b: 6
value of a : 6 value of b: 5

In [4]:
#.4 print the sum of two numbers 

a = 5 
b= 6
c= a+b 
print(c)

11

In [5]:
# 5. dividing two numbers 
num1= 34 
num2 = 3
num3 = num1/num2
print(num3)

11.333333333333334

In [6]:
# 6.reminder of  dicing two number

num1= 34 
num2 = 3
devivision= num1 / num2
remainder = num1 % num2
print("division og number is :", devivision,' ', "and remainder is : ", remainder)

division og number is : 11.333333333333334   and remainder is :  1

In [7]:
#7 multiplying 2  numbers 
num1 =  23 
num2 = 34 
mul= num1 * num2
print(mul)

782

In [8]:
#8. convert sting to interger and float 

a = " 7"
b = int(a)
print(type(b), b)

c = float(a)
print(type(c), c)

<class 'int'> 7
<class 'float'> 7.0

In [9]:
# 9  find  the length of string 

a = " hello world i m learning the python here so can you help with it"

print( len(a), a[34:50])

65 on here so can y

In [10]:
# 10  Write a program  that checks if number is postive  or negataive

a = -1 

if a >=0 or a ==0 :
    print(" number is postive")
else :
    print("number is negative ")

number is negative

In [11]:
# 11 Write a program tha  number even or add 
a = 22

if a%2==0: 
    print(" The number is even")
else: 
    print(" the number is odd ")

 The number is even

In [12]:
# 11 Write a program tha  number even or add 
a = 22

if a%2==0: 
    print(" The number is even")
else: 
    print(" the number is odd ")

 The number is even

In [13]:
# 12.Write  a program  that checks if the year is leap nor not 
year = 2028

if year%4 == 0:
    print ("this year is leap year ")
else:
    print ("its Normal year")

this year is leap year

In [14]:
# 13. write that checks if character is a vowel or consonant 

def check_vowel(name):
    if (name =='a'or name == 'e' or name =='i' or name=='o' or name == "u"):
        print(" this is vowel")
    else:
        print("this is consonant")
        

a= check_vowel("u")
print(a)

 this is vowel
None

In [15]:
li=['a', 'e', 'i','o','u']

a = "u"

if a in li:
    print("vowel")
else:
    print("consonant")

vowel

In [16]:
# 16 print  the number  1 to 10 using loop 
for i in range (1, 11): 
    print(i, end='   ')
print()
print("even number", )
# is number i even number 1 to 20 using loop
for i in range(0,20,2):
    
    print(i,end='   ')


#Write then odd number between 1 to 20 using loop 
print()
print("odd numbers ")
for i in range(1,20,2):
    print(i, end=' ')

1   2   3   4   5   6   7   8   9   10
even number
0   2   4   6   8   10   12   14   16   18
odd numbers
1 3 5 7 9 11 13 15 17 19

In [17]:
# print the multiplcaton table 

a = 5

for i in range (1 , 11):
    i = i * a
    print(i)

5
10
15
20
25
30
35
40
45
50

In [18]:
# write the program sum of 1st natural number 
a = 10
b = 0 

while (a>0):
    b += a
    a -= 1
    print(b,end=' ')
print("sum of this number", b)

10 19 27 34 40 45 49 52 54 55 sum of this number 55

In [19]:
# calculate factorial of number 
def fact(n):
    if n==1:
        return 1 
    else:
        return (n * fact(n-1))
    
print(fact(5))

120

In [20]:
# function return the suqare of the number 


def suqare(num):
    return num * num

print(suqare(4))

16

In [21]:
#square root program 

num = 65 
sr= num**(1/2)
print ("squre root of given number is",sr )

squre root of given number is 8.06225774829855

In [22]:
#  Number of Fibonacci numbers to print
n = 10

# Initial two Fibonacci numbers
a, b = 0, 1

# Using a for loop to print the first 10 Fibonacci numbers
for i in range(n):
    print(a, end=' ')
    a, b = b, a + b

0 1 1 2 3 5 8 13 21 34

In [25]:
def find_largest_element(lst):
    if not lst:
        return None  # Return None if the list is empty

    largest = lst[0]
    for num in lst:
        if num > largest:
            largest = num

    return largest

# Example list
example_list = [56, 5, 7, 2, 8, 1,78, 4, 10, 6]
largest_element = find_largest_element(example_list)
print("The largest element in the list is:", largest_element)

The largest element in the list is: 78